<div class="parallax-accueil-div">

  <div id="section04"  class="parallax  d-flex align-items-center justify-content-center min-vh-100 " [ngStyle]="{'background-image': 'url(' + backgroundImage + ')','opacity':imageOpacity}">
  
    </div>
    <div  id="section04" class="parralax-text">
      <p class="accueil-paralax-titre" ><strong>ÉTUDIER</strong><BR> <strong>INFORMER</strong><BR> <strong>INNOVER</strong><BR><p  class="accueil-paralax-sous-titre"> <br>Apprendre du comportement animal pour une meilleure
        cohabitation</p></p>
        <a href="#faison"><span></span></a>
    </div>

</div>

<div  class="accueil-faisons">
  <p class="accueil-titres" id="faison" >CE QUE NOUS FAISONS</p>
  <hr class="accueil-hr" >

  <p class="accueil-textes">EthoProtectio vous accompagne dans votre problème de cohabitation homme animal par des études en éthologie. Nous
    concevons des expérimentations scientifiques sur le comportement animal au cœur de votre secteur d’activité afin de
    vous conseiller sur les mesures à prendre. De manière individuelle, nous testons des solutions de cohabitation
    selon vos objectifs et pouvons en développer de nouvelles en collaboration avec des centres de recherche
    scientifiques pluridisciplinaires. Nous formons sur le comportement animal, et proposons de la médiation et de la
    sensibilisation auprès de vos parties prenantes, afin d’inciter la coopération pour agir à l’unissons.
    </p>
    <button type="submit" class="bouton-accueil" [routerLink]="['/prestations']" >NOS PRESTATIONS</button>
</div>
<div class="accueil-faisons">
  <p class="accueil-titres">NOS SECTEURS D’ACTIVITÉ</p>
  <hr class="accueil-hr" >

  <div class="row secteur-activite-card">
    <div class="col-sm-4 d-flex">
      <div class="card card-accueil-activite" >
        <div class="card-body">
          <img class="" src="./assets/icons/Aiplane.png" alt="Card image cap" width="100" height="100">
          <h5 class="card-title">AERONAUTIQUE</h5>
        
        </div>
      </div>
    </div>
    <div class="col-sm-4 d-flex">
      <div class="card card-accueil-activite">

        <div class="card-body">
          <img class="" src="./assets/icons/Eolienne.png" alt="Card image cap" width="100" height="100">

          <h5 class="card-title">ENERGIES RENOUVELABLES</h5>
    
        </div>
      </div>
    </div>
    <div class="col-sm-4 d-flex">
      <div class="card card-accueil-activite">

        <div class="card-body">
          <img class="" src="./assets/icons/Agriculture.png" alt="Card image cap" width="100" height="100">

          <h5 class="card-title">AGRICULTURE</h5>
  
        </div>
      </div>
    </div>
  </div>
  <div class="row secteur-activite-card">
    <div class="col-sm-4  d-flex">
      <div class="card card-accueil-activite" >

        <div class="card-body">
          <img class="" src="./assets/icons/Routier.png" alt="Card image cap" width="100" height="100">
          <h5 class="card-title">AXES ROUTIERS</h5>
      
        </div>
      </div>
    </div>
    <div class="col-sm-4  d-flex">
      <div class="card card-accueil-activite">

        <div class="card-body">
          <img class="" src="./assets/icons/Train.png" alt="Card image cap" width="100" height="100">
          <h5 class="card-title">AXES FERROVIAIRES</h5>
     
        </div>
      </div>
    </div>
    <div class="col-sm-4  d-flex">
      <div class="card card-accueil-activite">

        <div class="card-body">
          <img class="" src="./assets/icons/Ville.png" alt="Card image cap" width="100" height="100">
          <h5 class="card-title">STRUCTURES PRIVEES OU PUBLIQUES</h5>
         
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <p class="accueil-titres">A PROPOS</p>
  <hr class="accueil-hr" >
  

  <p class="accueil-textes" #intro>Entre recherche fondamentale et solutions concrètes de cohabitation, EthoProtectio s’inscrit dans une
    démarche du partage de l’information scientifique, afin de favoriser leur application. Nous souhaitons
    complémenter les connaissances en écologie et biologie, afin d’aborder de manière systémique chaque
    problème de cohabitation homme-animal. Vous apporter les informations nécessaires en éthologie pour
    vous permettre d’approfondir votre compréhension du comportement des animaux face à des situations
    précises, et répondre spécifiquement sur votre problématique et de manière respectueuse pour
    
    l’environnement.</p>
  <button type="submit" class="bouton-accueil" [routerLink]="['/connaitre']">NOUS CONNAITRE</button>

    <div class="row row-logos">
    <div class="col-sm-4">
      <div class=" flex align-items-center justify-content-center align-middle" style="height:100%">

      <p class="accueil-titres-accompagne ">Ils nous ont formés</p>
      <hr class="accueil-hr" >
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class=" d-flex align-items-center justify-content-center" style="height:100%">
        <a href="http://comportement.univ-paris13.fr:8080/comp/master-dethologie/master" target="_blank">
      <img class="img-a-propros-master" src="./assets/logos/Master.png" alt="Card image cap" >
      </a>
    </div>
    </div>
    
    <div class="col-sm-4 ">
      <div class=" d-flex align-items-center justify-content-center" style="height:100%">
      
      <img class="img-a-propros-couveuse" src="./assets/logos/Couveuse.png" alt="Card image cap">

    </div>
    </div>
  </div>
    
  
</div>



