
<div  style="background-color: rgba(255,255, 255,  0.6)   !important;padding:10px 10px 10px 10px;border-radius: 10px;" >
    <h1 class="commingsoonTitle" >Bientôt...</h1><br>
    <p class="commingsoonText"><strong>De nouveaux horizons scientifiques pour résoudre vos problèmes de
        cohabitation homme-animal.<br>
    Cliquez ci-dessous pour être notifié de sa publication officielle.</strong></p>
        <button type="button"  [routerLink]="['/contactbis']"  class="btn-comingsoon">Notifiez-Moi</button>

</div>
