<div class=" d-flex justify-content-center"   >
    <div class="contact-fond-gris"style="">
        <div >
            <p>EthoProtectio<br>
    Hébergé juridiquement par la couveuse d'entreprise ALTITUDE 34<br>
    <br>
    Représentée par CAMEO PONZ Frédéric<br>
    <br>
    SIRET :  424845949<br>
    <br>
    3 chemin du Pigeonnier de la Cépière<br>
    <br>
    Bât C<br>
    <br>
    31100 TOULOUSE FRANCE<br>
    <br>
    Contact : https://www.couveuse.net/contact<br>
    <br>
    Responsable de la publication<br>
    Claire Pereira<br>
    contact@ethoprotectio.fr<br>
    06 37 06 72 01<br>
    <br>
    Hébergeur<br>
    OVHv
    2 rue Kellermann<br>
    59100 Roubaix</p>
    </div>
    </div>
