<!-- The routed views render in the <router-outlet>-->

<div class="text-center app-component-main-div" >
  <nav class="container-fluid navbar navbar-expand-lg navbar-light bg-light  sticky-top nav-style">
    <div class="container-fluid">
      <a [routerLink]="['/']"><img src="./assets/logo-texte.svg" alt="My Happy SVG" height="120" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" (click)="isMenuCollapsed = !isMenuCollapsed" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link nav-bar-menu-text" aria-current="page" [routerLink]="['/']"
              [ngClass]="{'title_underline': getCurrentRoute('/')}" (click)="isMenuCollapsed = true">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-bar-menu-text" [routerLink]="['/prestations']" [ngClass]="{'title_underline': getCurrentRoute('/prestations')}" (click)="isMenuCollapsed = true"
              >Prestations</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-bar-menu-text"  type="button" [ngClass]="{'title_underline': getCurrentRoute('/connaitre')}" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Nous connaitre
            </a>
            <ul class="dropdown-menu  nav-bar-menu-text " aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item nav-bar-menu-text" [routerLink]="['/connaitre']" fragment="quijesuis" (click)="isMenuCollapsed = !isMenuCollapsed">Qui suis-je ?</a></li>
              <li><a class="dropdown-item nav-bar-menu-text" [routerLink]="['/connaitre']" fragment="ethoprotectio" (click)="isMenuCollapsed = !isMenuCollapsed">EthoProtectio</a></li>
              <li><a class="dropdown-item nav-bar-menu-text" [routerLink]="['/connaitre']" fragment="ethologie" (click)="isMenuCollapsed = !isMenuCollapsed" >L'éthologie</a></li>
            </ul>
          </li>
          
          <li class="nav-item">
            <a class="nav-link nav-bar-menu-text" [routerLink]="['/contact']"
              [ngClass]="{'title_underline': getCurrentRoute('/contact')}" (click)="isMenuCollapsed = true">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
    <div class="row footer-div">
    <div class="col-sm-4" >
      <div class=" d-flex align-items-center justify-content-center" style="height:100%">

      <img src="./assets/logo-texte.svg"
        id="footer-logo" alt="Logo" />
      </div>
    </div>
    <div class="col-sm-4" style="text-align:center">
      <p class="footer-titres">UN PROBLEME, UN PROJET ?</p>
      <hr class="accueil-hr">

      <button type="submit" class="btn-contact bouton-footer" [routerLink]="['/contact']">CONTACTEZ-NOUS</button>
      <div class="row" style="padding-top:20px">
        <div class="col-3"></div>
        <div class="col-2">
          <a href="https://www.facebook.com/profile.php?id=100088813800474" target="_blank">
             <img src="./assets/logos/fb.png" id="logofb"
         alt="Logo" />
          </a>
        </div>
        <div class="col-2">
          <a href="https://www.google.com/search?q=ethoprotectio&btnK=Recherche+Google&source

          =hp&ei=Yh-
          SY5mvCofUkdUPqqSq0A0&iflsig=AJiK0e8AAAAAY5ItcgoJ35xn7h0TrKJZ4JMUMGwlPy7
          
          i#btnK=Recherche%20Google" target="_blank">
             <img src="./assets/logos/google.png" id="logofb"
         alt="Logo" />
          </a>
        </div>
        <div class="col-2">
          <a href="https://www.linkedin.com/company/87387485/" target="_blank"><img src="./assets/logos/ln.png" id="logolk"
         alt="Logo" /></a>
         <div class="col-3"></div>
       </div>
       </div>
    </div>
    <div class="col-sm-4" style="text-align:center">
      <div class=" d-flex align-items-center justify-content-center" style="height:100%">
      <p class="text-footer">Projet soutenu par Altitude 34<br>
        avec un contrat d’appui pour la<br>
        création d’entreprise jusqu’au
        03/11/2023 :<br><br>
        Adresse : BGE Sud-Ouest,<br><br> 3 chemin du Pigeonnier de la Cépière,<br> Bât C <br><br> 31100 TOULOUSE
      <br><br>Tél : +33 (0)637067201
      <br><br>E-mail : <a href="mailto:contact@ethoprotectio.fr">contact@ethoprotectio.fr</a></p>
      </div>
    </div>
    <p class="text-footer" style="text-align:center">©EthoProtectio, Tous droits réservés – <a [routerLink]="['/mentions']">Mentions Légales</a></p>
  </div>
</div>

