<p style="padding-top:150px"></p>

<div>
    <div>
        <div class="row d-flex justify-content-center" style="width: 100%;padding: 0%;margin:0%;">
            <!--Grid column-->
            <div class="col-md-6">

                <p class="erreur404-titres">ERREUR 404</p>
                <hr class="accueil-hr">
                <button type="submit" class="bouton-accueil" [routerLink]="['/']"
                [ngClass]="{'title_underline': getCurrentRoute('/')}">RETOUR ACCUEIL</button>


            </div>
        </div>
        <!--Grid column-->
    </div>

</div>
