<p style="padding-top:150px"></p>

<div>
    <div style="padding-bottom:200px">
        <div class="row d-flex justify-content-center" style="width: 100%;padding: 0%;margin:0%;">
            <!--Grid column-->
            <div class="col-md-8">
                <div class="row accompagnement-scientifique-bloc">
                    <div class="col-lg-7 accompagnement-scientifique-images"
                        [ngStyle]="{'background-image': 'url(' + backgroundImage + ')','opacity':imageOpacity}">

                    </div>
                    <div class="col-lg-5 text-center">
                        <p class="accueil-titres" id="faison">Un Accompagnement Scientifique</p>
                        <hr class="accueil-hr">
                        <p>Vous êtes concernés par la cohabitation homme-animal, et
                            souhaitez améliorer la protection de votre activité en accord avec
                            l’attente sociétale croissante pour le respect de l’environnement.
                            Fauconnerie, pyrotechnie, cris d’alarme, piégeages, filets, laser...
                            De nombreuses méthodes d’effarouchement existent, mais sont-
                            elles adaptées à votre problématique ?<br><br>

                            EthoProtectio vous accompagne pour vous conseiller par l’étude
                            scientifique de ces solutions de cohabitation, pour imaginer de
                            nouvelles méthodes innovantes, vous informer et rassembler les

                            acteurs afin d’agir de manière collaborative.</p>
                    </div>
                </div>
            </div>
            <!--Grid column-->
        </div>
    </div>

    <div class="row d-flex justify-content-center prestations-bloc">
        <!--Grid column-->
        <div class="col-md-8">
            <div style="padding-bottom: 100px;">
                <div class="row prestations-bloc-prestation">
                    <div class="col-lg-6 text-center">
                        <p class="accueil-titres" id="faison">Diagnostic et Expertise</p>
                        <p>Nous mettons en place une étude expérimentale sur place pour comprendre comment influencer de
                            manière pertinente et respectueuse les comportements des animaux qui vous posent des problèmes. Les
                            méthodes de cohabitation testées peuvent concerner
                            l’aménagement des habitats et leur gestion (filets,
                            piégeage...), jusqu’aux moyens d’effarouchement actifs
                            les plus connus (acoustique, pyrotechnie, fauconnerie...).
                            Cela comprend une première analyse de la situation avec
                            vous sur site, puis la mise en place d’un protocole
                            scientifique de quelques semaines à plusieurs mois. Un
                            rapport détaillé final vous sera fourni avec des conseils
                            d’utilisation ou d’amélioration des moyens de
                            cohabitation spécifique à votre problématique.
                        </p>
                    </div>
                    <div class="col-lg-6  prestations-images" style=" 
    
    background-image: url('./assets/prestations/expert.jpg');
 ">

                    </div>
                </div>
                <div class="row prestations-bloc-prestation">
                    <div class="col-lg-6 text-center">
                        <p class="accueil-titres" id="faison">Recherche et développement</p>
                        <p>Une veille bibliographique est perpétuellement réalisée au
                            sein de EthoProtectio. Nous vous proposons des solutions
                            innovantes à tester, mais aussi la possibilité d’en
                            développer avec l’appui de laboratoires de recherches
                            pluridisciplinaires. Les tests expérimentaux pourront porter
                            sur de nouvelles méthodes de gestion des habitats
                            (formation de zones refuges pour déplacement des
                            animaux), ou sur l’utilisation innovante de drones

                            mimétiques par exemple.</p>
                    </div>
                    <div class="col-lg-6 prestations-images" style=" 
    background-image: url('./assets/prestations/ampoule.jpg');
    ">
                    </div>
                </div>
                <div class="row prestations-bloc-prestation">
                    <div class="col-lg-6 text-center">
                        <p class="accueil-titres" id="faison">Formations</p>
                        <p>Ciblées sur l’étude du comportement animal et ses
                            applications pour la cohabitation homme-animal, la
                            formation peut être composée d’une partie pratique selon
                            vos besoins (tests comportementaux face à des moyens
                            d’effarouchement, observations). Que vous soyez
                            propriétaire d’une structure ou particulier, nous adaptons
                            la formation à tous les acteurs concernés de près ou de loin
                            par la problématique de la cohabitation homme-animal.</p>
                    </div>
                    <div class="col-lg-6  prestations-images" prestations-images style=" 
    
        background-image: url('./assets/prestations/formation.jpg');
       ">

                    </div>
                </div>
                <div class="row prestations-bloc-prestation">
                    <div class="col-lg-6 text-center">
                        <p class="accueil-titres" id="faison">Médiation et Sensibilisation</p>
                        <p>EthoProtectio propose d’étendre votre action sur les parties
                            prenantes de votre activité, en réalisant des rencontres, des
                            enquêtes de connaissances et des plaquettes d’informations. Des
                            plans d’actions pourront être proposés à terme : collaboration
                            entre acteurs pour un projet commun, développement d’un
                            
                            nouvel objectif de sensibilisation...</p>
                    </div>
                    <div class="col-lg-6  prestations-images" style="
    
    background-image: url('./assets/prestations/assemble.jpg');
    ">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>