<p id="quijesuis" style="padding-top:100px"></p>

<div>
    <p class="accueil-titres" id="faison">Claire Pereira<br>

        Ethologue et Fondatrice de EthoProtectio</p>
    <hr class="accueil-hr">

    <div class="col-md-8 offset-md-2" style="padding-bottom:100px">
        <div class="row border-marine margin-bottom" style="padding: 0%;margin:0%;">
            <div class="col-lg-4">
                <img src="./assets/connaitre/claire.png" alt="My Happy SVG" width="100%" />
            </div>
            <div class="col-lg-8 text-center">
                <p class="card-text" style="text-justify: inter-word;text-align:justify">Mon profil scientifique complet
                    alliant la biologie, l’écologie et
                    l’éthologie me permets de développer une approche systémique dans
                    mes projets. La volonté de m’impliquer pour la cohabitation homme
                    animal s’est construite au fil de nombreuses problématiques rencontrées
                    : l’exploitation forestière en Finlande, les conflits d’usages en réserve
                    naturelle et milieu agropastoral, la protection des troupeaux contre la
                    prédation, et la faune sauvage sur les aéroports. <br><br>
                    Je peux démontrer une spécialité dans le domaine aéroportuaire grâce à
                    mon expérience au Service Technique de l’Aviation civile (STAC) en tant
                    que chargé d’études effarouchements acoustiques, et un poste d’agent de

                    service de prévention du risque animalier (SPRA) sur l’aéroport de Bâle-
                    Mulhouse.<br><br>

                    Pour autant, les engagements pour l’environnement sont au cœur de la
                    responsabilité sociétale de toutes et tous, et sont observés de plus en plus
                    attentivement par les parties prenantes des entreprises.<br><br></p>
            </div>
            <p style="text-align:left">Mes nombreuses recherches sur le sujet me permettent d’appréhender de près de
                nombreux domaines d’activité.
                Quelques exemples ...<br><br>
                • Une majorité d’articles scientifiques traitent de méthodes de cohabitation innovantes pour les
                cultures afin
                d’éviter les ravages par les oiseaux.<br><br>
                • Au même titre que les aéroports, les structures de réseau haute tension, les parcs éoliens, les
                réseaux routiers et
                ferroviaires se doivent d’innover pour éviter les collisions avec les animaux.<br><br>
                • Beaucoup de structures sont confrontées à des problèmes de propreté, voire de sonorité pour les
                villes, ce qui
                nécessite des solutions mais aussi la sensibilisation et l’information de ses utilisateurs.<br><br>
                Je souhaite adapter mes compétences en éthologie à votre domaine, afin de protéger et faire coexister
                humains et
                animaux en apportant la méthodologie scientifique et le partage de l’information dont vous avez besoin.
            </p>

        </div>
    </div>





</div>


<div id="ethoprotectio">
    <img src="./assets/logo.svg" alt="My Happy SVG" height="150" />

    <p class="accueil-titres" id="faison">EthoProtectio</p>
    <hr class="accueil-hr">

    <p class="card-text accueil-textes" style="text-align: justify;">Nous souhaitons donner les outils pour comprendre,
        innover, et améliorer ensemble : approche collaborative par la
        recherche, l’échange d’informations scientifiques, et par l’étude complémentaire des situations avec des
        écologues et
        biologistes. Une démarche individuelle, afin de trouver les solutions spécifiques à chaque problème de
        cohabitation.</p>

    <p class="card-text accueil-textes" style="text-align: center;color:red">
        PROBLÈME – Selon des connaissances scientifiques pluridisciplinaires, des pigeons peuvent s’installer à cause de
        certains facteurs environnementaux comme l’abondance de nourriture. Des nuisances sonores étaient censées
        diminuer leur nombre, mais le résultat escompté n’est pas là. Pourquoi ? Concrètement, comment le comportement
        des individus concernés a été plus précisément affecté ? Comment l’anticiper et optimiser l’effarouchement ?</p>

    <p class="card-text accueil-textes" style="text-align: center;font-weight: bold;">EthoProtectio est là pour vous
        répondre.</p>

    <p class="card-text accueil-textes" style="text-align: justify;"><strong>La solution avec l’approche Ethologique
            –</strong> Il faut réaliser que chaque animal a sa propre vision, et conçoit son
        environnement selon ses propres capacités et expériences en se détachant de notre propre vision d’humain. Il est
        possible d’associer un comportement général à une espèce selon des facteurs environnementaux : présence ou
        absence,
        nombre et fréquence de passage, de nidification... L’éthologue va s’intéresser à des comportements plus précis
        dont il va
        pouvoir expliquer les facteurs déterminants et trouver les moyens pour les influencer : défécation, type de
        chasse,
        vocalisations, nourrissage, caractéristiques des déplacements, temps de repos... Cette analyse éthologique peut
        être
        d’origine biologique, neurobiologique, éducative, génétique, écologique... D’où l’importance de la collaboration
        de toutes
        ces disciplines.<br>
        L’éthologie va ainsi permettre de caractériser spécifiquement les comportements face aux moyens de cohabitation
        afin
        de les anticiper, selon chaque contexte environnemental. Nous partons d’une généralité, pour arriver à une
        explication
        spécifique selon un contexte précis.</p>

</div>


<div id="ethologie">
    <p class="accueil-titres" id="faison">Pour aller plus loin...
        Qu’est ce que l’Ethologie ?</p>
    <hr class="accueil-hr">
    <div class="row" style="padding: 0%;margin:0%;padding-bottom: 20px;">
        <div class="col-lg-8">
            <p class="card-text accueil-textes" style="text-align: justify;">L’éthologue mène des projets de recherche
                L’éthologue mène des projets de recherche pour comprendre
                les comportements communs d’une espèce animale dans son
                milieu naturel grâce à des protocoles d’observations précis. Il
                quantifie ces comportements en données statistiques afin de
                les expliquer objectivement. Il va pouvoir agir sur de nombreux
                sujet comme le bien-être animal, la conservation des espèces,
                les méthodes d’apprentissage, la productivité des élevages, la
                compréhension des phénomènes sociaux humains... Les
                interprétations des comportementalistes recourent aux
                résultats de recherches éthologiques.<br>
                L’éthologie est connue pour avoir joué en grand rôle dans les avancées sur la reconnaissance de
                l’intelligence animale :
                L’éthologue Jane Goodall a été la femme précurseur de la découverte d’une forme d’apprentissage social
                chez les
                chimpanzés. Ci-contre, un chimpanzé utilisant un outil pour récupérer de la nourriture, comportement
                longtemps
                considéré comme propre à l’humain. Cette capacité est maintenant aussi connue chez quelques corvidés.
            </p>
        </div>
        <div class="col-lg-4">
            <div>
                <img src="./assets/connaitre/chimpanze.jpg" alt="Chimpanze" width="100%" />
            </div>

        </div>
        <div class="col-lg-1"></div>

    </div>